@charset "utf-8";

:root {
  --zIdxStg: 0;
  /* --Z_INDEX_PERSON: 1; */
  --zIdxPrm: 2;
  --zIdxTtl: 3;
  --zIdxcrt: 4;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: url('../img/bg.jpg');
  font-family: 'VT323', monospace;
  overflow: hidden;
}

.crt{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: var(--zIdxcrt);
}
.crt.up{
  transform: scaleY(0);
  transition: 0.5s step-end;/* step-end */
}

.fil{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.wrp1{
  position: absolute;
  top: 5vh;
  left: 10vw;
  display: flex;
}
.wrp2{
  margin-left: 10px;
  display: block;
}

.stg.ctn{
  width: 600px;
  height: 550px;
  border: solid 2px #222;
}

.stg.bg{
  width:  100%;
  height: 100%;
  z-index: var(--zIdxStg);
}

.me.snd{
  color: #fff;
  font-size: 4rem;
}
.me.snd::before{
  content: 'sound off';
}
.me.snd.off::before{
  content: 'sound on';
}

.me.dt{
  color: #fff;
  font-size: 2rem;
  white-space: pre;
}

.ttl{
  /* display: none; */
  position: absolute;
  z-index: var(--zIdxTtl);
  color: #fff;
}
.ttl.ctn{
  width: 100vw;
  height: 100vh;
  background: #000;
}
.ttl.off{
  transform: scaleY(0);
  transition: 0.5s;
}
.ttl.on{
  display: '';
}

.ttl.ctn.op{
  background-image: url('../img/op.png');
  background-size: 100% 100%;
}
.ttl.mn.op::before{
  position: absolute;
  top: 30vh;
  left: 30vw;
  /* top: 30vh;
  left: 30vw; */
  content: 'twins';
  font-size: 10rem;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,.6));
}
.ttl.nxt.op::before{
  position: absolute;
  top: 70vh;
  left: 35vw;
  content: 'game start';
  font-size: 3rem;
  white-space: nowrap;
}
.ttl.pre.op::before{
  position: absolute;
  top: 90vh;
  left: 32vw;
  content: '(C)PANICPUMPKIN (C)ONKYULABO';
  font-size: 1.5rem;
  white-space: nowrap;
}

.ttl.mn.lc::before{
  position: absolute;
  top: 20vh;
  left: 10vw;
  /* top: 30vh;
  left: 30vw; */
  content: 'Hey yo my man ! \a Click the same stupid guys \a and remove it !';
  font-size: 4rem;
  white-space: pre;
}
.ttl.nxt.lc::before{
  position: absolute;
  top: 70vh;
  left: 35vw;
  content: 'I got this !';
  font-size: 3rem;
  white-space: nowrap;
}

.ttl.mn.clr::before{
  position: absolute;
  top: 30vh;
  left: 25vw;
  /* top: 30vh;
  left: 30vw; */
  content: 'clear !';
  font-size: 8rem;
  white-space: nowrap;
}
.ttl.nxt.clr::before{
  position: absolute;
  top: 70vh;
  left: 40vw;
  content: 'next !';
  font-size: 3rem;
  white-space: nowrap;
}

.ttl.mn.cnt::before{
  position: absolute;
  top: 30vh;
  left: 25vw;
  /* top: 30vh;
  left: 30vw; */
  content: 'failed !';
  font-size: 8rem;
  white-space: nowrap;
}
.ttl.nxt.cnt::before{
  position: absolute;
  top: 70vh;
  left: 40vw;
  content: 'one more !';
  font-size: 3rem;
  white-space: nowrap;
}

.prm.rst{
  position: absolute;
  top: 1vh;
  left: 2vw;
  z-index: var(--zIdxPrm);
  font-size: 4rem;
  color: #fff;
  filter: drop-shadow(7px 0px 3px rgba(0,0,0,.6));
  pointer-events: none;
}
.prm.cin{
  position: absolute;
  top: 10vh;
  left: 2vw;
  z-index: var(--zIdxPrm);
  font-size: 3rem;
  color: #ff0;
  filter: drop-shadow(7px 0px 3px rgba(0,0,0,.6));
  pointer-events: none;
}
.prm.lv{
  position: absolute;
  bottom: 1vh;
  left: 2vw;
  z-index: var(--zIdxPrm);
  font-size: 2rem;
  color: #fff;
  filter: drop-shadow(7px 0px 3px rgba(0,0,0,.6));
  pointer-events: none;
}

.psn.sdw{
  filter: drop-shadow(7px 0px 3px rgba(0,0,0,.6));
}
.psn.wrp{animation: flipped 0.8s infinite step-end forwards;}
@keyframes flipped 
  {50%{ transform: scale(-1, 1);}/*折り返しのanimeなので50%*/
}

/* common */
.crsP{
  cursor: pointer;
}
.crsD{
  cursor: default;
}










@media (max-width: 600px){}